/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2009, 12:27:12 AM
    Author     : Martins
*/

/*#my-table .table-cell { -fx-alignment: CENTER;
             -fx-skin: "con.sun.javafx.scene.control.skin.modensa.css"; 
             
                 -fx-padding: 0.166667em;
                 -fx-background-color:transparent;
                  -fx-border-color: transparent  ;
                 -fx-border-width:0.083333em;
                 -fx-cell-size:2.0em;
                 -fx-text-fill: -fx-text-inner-color;
                 -fx-table-cell
}*/
.my-table .table-row-cell .text{
   -fx-text-fill:white; 
   -fx-font-size: 15;
                     /*-fx-background-color:black;*/

    
}
.my-table{
                         -fx-background-color:black;

    
    
}

.table-view{
    
                     -fx-background-color:black;

    
}
.table-view:focused{
           -fx-fill:white; 

                     /*-fx-background-color:transparent;*/

    
}
/*.root{
    
                     -fx-background-color:;
                                          -fx-background-color:red;


    
}*/
.table-row-cell{
    
                     -fx-background-color:black;
   -fx-fill:white; 
   -fx-text-fill:white; 

    
}

.table-row-cell .text{
   -fx-fill:white; 
   -fx-font-size: 15;
                     /*-fx-background-color:black;*/

    
}


.moreoption{
    
                         -fx-background-color:black;

    
}

MenuButton,ChoiceBox{
    
                             -fx-background-radius:10;
                         -fx-background-color:gray;
 -fx-fill:white; 
   -fx-text-fill:white; 


    
}